
[Desktop Entry]

Version=1.0

Type=Application

Name=Clamshell OFF

Exec=sh -c "if pkexec sed -i 's/^HandleLidSwitch=.*/HandleLidSwitch=suspend/;s/^HandleLidSwitchExternalPower=.*/HandleLidSwitchExternalPower=suspend/;s/^HandleLidSwitchDocked=.*/HandleLidSwitchDocked=ignore/' /etc/systemd/logind.conf; then notify-send 'Clamshell Mode' 'OFFに設定しました。再起動します。'; pkexec systemctl reboot; else notify-send 'Clamshell Mode' 'OFFへの設定に失敗しました'; fi"

Terminal=false

Icon=computer

